<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>お支払い画面</p>
    <p>INPUT BOX</p>
    <p></p>

    <button>予約画面に戻る</button>

  </body>
</html>
