<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>ご利用履歴がありログインIDをお持ちの方はログインしてください。</p>
    <p>INPUT BOX</p>
    <p>ログインIDをお持ちでない方もそのままご利用できます。</p>

    <button>予約画面を表示</button>

  </body>
</html>
